body {
  font-family: Arial, Helvetica, sans-serif;
  color: #4E423A;
  line-height: 1.6;
  background-color: #E6E2D8;
  padding: 20px;
  margin: 20;
}

.texto {
  padding-right: 1px;
  padding-left: 0%;
  align-self: center;
}

.texto2 {
  align-self: center;
}

.imagens {
  width: 550px;
  height: 315px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.imagem-img {
  max-width: 50%;
  width: 550px;
  height: 315px;
  padding-left: 30px;
  height: 200px;
  border-radius: 0px;


  flex: 1;
  /* Ocupa o espaço restante */
  text-align: center;
  /* Centraliza a imagem horizontalmente */
}

.secao {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  background-color: #F5F1E9;
  padding: 10px;

  flex: 1;
  /* Ocupa o espaço restante */
  text-align: center;
  /* Centraliza a imagem horizontalmente */
}